body{
    font-family:sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
button{
    padding: 9px 9px;
    margin:0px 5px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #da8739;
}
button:active{
    background-color: #3e428e;
}
span{
    font-size: 24px;
}
h1{
    margin-left: 20px;
}
button:nth-of-type(3) {
  margin-left:60px;
  margin-top:5px;
}
