*{
  margin:0; 
  padding:0;
  box-sizing:border-box;
}

body{
  background-color:rgb(27, 23, 23);
}
.parent{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:10px;
  margin:30px;
}
.card {
  background-color: rgb(9, 9, 9);
  color: rgb(250, 250, 251);
  padding: 10px;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  text-align: center;
  margin: 7px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgb(137, 188, 225);
  transition: all 0.3s ease-in-out;
  background-color: rgb(29, 28, 28);
}

.top {
  display: flex;
  margin-bottom: 15px;
  color:grey;
  width:100%;
  flex-direction: column;
  gap:10px;
}
.top .dateTime {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

 .card .name {
  margin: 0;
  font-size: 30px;
  color:rgb(170, 236, 236)

}
.card img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  object-fit: cover;
}

img {
  animation: spin 1s linear ;
  transform: scale(1.1);
}
@keyframes spin {
  from {
    transform: scale(1.1) rotate(0deg);
  }
  to {
    transform: scale(1.1) rotate(360deg);
  }
}
img:hover {
  animation: spin 13s linear infinite;
}

.card .content {
  color:rgb(166, 166, 155);
  overflow: hidden;
}

